* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, sans-serif;
}

body {
    font-size: 14px;
}

#row {
    position: relative
}

#ash {
    stroke: salmon 2px;
    position: absolute;
    top: -12px;
    left: 12px
}

.seat {
    /* margin-right: -px; */
    display: inline-block;
    position: relative;
}